/auto-save-list/*
/autosave/*
/server/server
/w3m/*
/g-client/*
*.elc
/personal/*
/personal
/semanticdb*
/elpa
/request
/recentf
/projectile.cache
/projectile-bookmarks.eld
/games
/.cache
/url
/var
network-security.data
/magithub
local.el
.mc-lists.el
ede-projects.el
/straight
/transient
